.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.container {
    height:90vh
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

#AboutUs {
    background-color: #f87171;
    font-size: 1rem;
    padding:.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#AboutUs > h1 {
    margin-top: 0px;

}

#nav{
    background-color: #f87171;
    width: auto;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: sticky;
    top: 0;
}

#landing{
    display: flex;
    padding: .3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: black;
    justify-content: space-between;
}

#landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing-text > h1{
    margin: 0;
}

#bar-img{
    width: 40dvw;
}

#logo{
    height: 40px;
}

#name{
    font-family: "Bebas Neue";
    color: #dc2626;
}

#nav > ul{
    list-style: none;
    display: flex;
    margin: 0;
    width: 500px ;
    justify-content: space-between;
}